#app{
    background: #c0ffee;
    width: 100vw;
    height: 100vg;
}

#app div {
    border-radius: 50%;
    background: #bada55;
    width: 10px;
    height: 10px;
    position: absolute;
    top:0;
    left: 0; 
}